*{
    margin: 0;
}

.contenedor{
    background: #C8A2C8;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
    color: #333333 ;
    
}

button{
    font-size: xx-large;
    padding: 0.75em;
    background-color: #6A0DAD;
    color: white;
    border: none;
    border-radius: 10px;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}